<section>
    <header>
        <strong>{{dateService.date | async | moment: 'DD.MM.YYYY '}}</strong>
        <hr>
    </header>
    <main>
        <ul *ngIf="tasks.length; else noTasks">
            <li class="task"
                *ngFor="let task of tasks; let i = index">
                <strong>{{i+1}}</strong>
                {{task.title}}
                <button class="btn btn-primery btn-del" (click)="remove(task)">
                    Удалить
                </button>
            </li>
        </ul>
        <ng-template #noTasks>
            <p class="text-center">Нет задач на текущий день...</p>
        </ng-template>        

        <table>
            <tr>

            </tr>
        </table>

    </main>
    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="title">
            <button class="btn btn-primary btn-block"
                    [disabled]="form.invalid">Добавить
            </button>
        </form>
    </footer>
</section>
