<section>
    <header>
        Organizer: <strong>{{dateService.date | async | moment: 'DD.MM.YYYY '}}</strong>
        <hr>
    </header>
    <main>
        <ul>
            <li class="task"
                *ngFor="let task of tasks; let i = index">
                <!-- <span>
                    <strong>1</strong>
                    hhhhhhh
                </span> -->
                <strong>{{i+1}}</strong>
                {{task.title}}
                <button class="btn btn-primery">
                    Remove
                </button>
            </li>
        </ul>
    </main>
    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="title">
            <button class="btn btn-primary btn-block"
                    [disabled]="form.invalid">Add</button>
        </form>
    </footer>
</section>
