form{
    margin: 1em 0;
}
form>div{
    display: flex;
    align-items: baseline;
}
form>div>input{
    margin-left: 5px;
}

form>div>div{
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}